.room,
.room:hover {
  height: 100vh;
  overflow: scroll;
  background: #ffffff07;
  border-radius: 1rem;
  margin-top: 4rem;
}

.room .roomHeader {
  height: 4rem;
}

.room .roomHeader>div {
  width: 1.5rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
}

.room textarea {
  resize: none;
}

.room .dialog {
  margin-bottom: 8.5rem;
}

.room .rounded {
  border-radius: 1rem !important;
}

.chat .room .sticker {
  width: 3em;
  min-width: 3rem;
  height: 3rem;
}